@import '~antd/dist/antd.css';

.site-header {
    background: #001529;
    padding: 15px 50px;
    box-shadow: gray 0 0 20px 1px; 
    position: fixed;
    z-index: 9;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.site-header h1 {
    color: white;
    margin: 0;
}

.img-gallery {
    margin: 0px 20px;
}

.img-gallery .ant-row {
    gap: 30px;
}

.img-gallery .card-container {
    position: relative;
}

.img-gallery .delete-btn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: gainsboro -1px 1px 40px 0;
    color: white;
}
.img-gallery .delete-btn.active {
    display: block;
}

.img-gallery .ant-card {
    height: 445px;
    margin-bottom: 30px;
}

.img-gallery .ant-card-cover {
    height: 80%;
}

.img-gallery .ant-card-cover .ant-image {
    height: 100%;
}

.img-gallery .ant-card-cover img {
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.update-btn {
    display: none;
}

.update-btn.active {
    display: block;
}

.img-preview-container {
    position: relative;
}
.preview-img {
    object-fit: cover;
    object-position: center;
    height: 300px;
}

.img-preview-container .ant-btn {
    position: absolute;
    top: 4px;
    left: 4px;
}

.no-img-container {
    height: 300px;
}

@media screen and (max-width: 600px) {
    .preview-img {
        height: auto;
        width: 100%;
    }

    .no-img-container {
        height: 0;
    }
}